{% extends 'base.html.twig' %}

{% import "macro/_list.html.twig" as list %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h2>Basis</h2>
    <ul>
        {% for shipment in shipments %}
            <li>{{ shipment.code }}</li>
        {% endfor %}
    </ul>
    <br><br>
    <h2>Macro</h2>
    {{ list.make(shipments, entity) }}
    <br><br>
    <h2>Include</h2>
    {{ include('components/_list.html.twig', {
        'items': shipments,
        'entity': entity
    }) }}
</div>
{% endblock %}
