{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block stylesheets %}
    <style>
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #message > div {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-top: 1rem;
        }
    </style>
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ form(form) }}
</div>
{% endblock %}
